/* Font 

Main: #f45b69
Primary: #5A0001
Secondry: f13030
Font: #5A0001
BackGround: #5A0001
*/
/* CSS Variables
 */
@font-face {
  font-family: 'Neeraj';
  src: url('./font/BingBamBoum.ttf');
}
/* 
-----------------------------
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    font-family: 'teko', sans-serif;
    font-size: 16px;
    color: #333;
}
.hero-title h1{
    font-family: 'Neeraj';
}
/* 
------------------------------
Dsign
------------------------------
*/



/* Global Design */
.btn{
    padding: 10px 20px;
    position: relative;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    font-family: 'teko', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}
.btn:hover{
    transition: all .4s ease-in-out;
    padding: 15px 30px;
    border-radius: 30px;
    font-family: 'teko', sans-serif;
}
.btn-primary{
    background-color: #5A0001;
    color: white;
    font-family: 'teko', sans-serif;
}   
.btn-primary:hover{
    background-color: #f45b69;
    color: rgb(0, 0, 0);
    font-family: 'teko', sans-serif;
}
.btn-secondary{
    background-color: #f45b69;
    color: white;
    font-family: 'teko', sans-serif;
}
.btn-secondary:hover{
    background-color: #d80012d9;
    color: white;
    font-family: 'teko', sans-serif;
}
/* End */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    background-color: #f45b69;
    color: white;
}
ul{
    display: flex;
    list-style: none;
    width: 80vw;
    justify-content: flex-end;
}
ul li{
    margin: 0 20px;  
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.hero{
    display: flex;
}
.hero-title{
    width: 50vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-title h1{
    font-size: 60px;
    color: #22181c;
    text-align: center;
    margin-bottom: 20px;
}
.hero-title p{
    font-size: 30px;
    color: #22181c;
    text-align: center;
    margin-bottom: 20px;
}
.hero-image{
    width: 50vw;
    padding: 20px;
}

.hero-image img{
    width: 100%;
}
.hero-gif1{
    width: 200px;
    height: 150px;
    position: absolute;
    top: -1vh; 
    left: -90vw;
}
.marquee-images{
    margin-top: 20px;
}
.marquee-images img{
    height: 200px;
    margin-right: 20px;
}
/* Desinging services grid */
.services{
    background: hsla(280, 84%, 41%, 1);

background: linear-gradient(90deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8711C1", endColorstr="#2472FC", GradientType=1 );
text-align: center;

}
.services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
.services-grid-item{
    border: 1px solid #f45b69;
    text-align: center;
    background-color: #f0f0f0;
    height: 500px;
}
.pricing{
    font-size: 2rem;
}
.services-grid-item > ul{
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}
.services-grid-item > ul > li{
    margin: 0;
}
.services-grid-item > h3,h4,p,ul{
    text-align: center;
}
.icon{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.icon-subclass{
    border: 2px solid #f45b69;
    background-color: #f45b6831;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}
.icon-subclass i{
    color: #ff1124;
}
.note{
    color: #ff1124;
    margin: 30px;
}
.note > strong{
    color: black;
}

.middle-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.s h3{
    width: 100%;
    color: #efbf04;
    text-align: center;
}
.s ul{
    flex-direction: column!important;
    justify-content: flex-start!important;
    width: 100%;
    align-items: flex-start!important;
    width: 100%;
}
.s ul li a{
    color: white;
    font-weight: 300;
    text-decoration: none;
}
.s ul li{
    width: 15vw;
}
.s{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px;
    margin-top: 100px;
}
.s4{
    align-self: flex-start;
}
footer{
    background-color: #28282B;
}
.top-footer{
    position: relative;
    display: flex;
    justify-content: center;
}
.top-footer p{
    position: absolute;
    color: white;
    border: 2px solid #f45b69;
    width: 80%;
    padding: 20px;
    border-radius: 70px;
    background-color: #ff4b5a;
    font-size: 45px;
    top: -50px;
}
.top-footer p a{
    color: #efbf04
}