/* 
Psudo Classes: In css , we can create pseudo classes to select elements based on certain conditions or States.
Examples:
1. :link - Selects all links on a webpage.
2. :visited - Selects all links that have been visited.
3. :hover - Selects an element when the user hovers over it.
4. :active - Selects an element when it is being clicked.
5. :focus - Selects an element when it receives focus (e.g., when a user
6. :first-child - Selects the first child element of a specified element.
7. :last-child - Selects the last child element of a specified element.
8. :nth-child - Selects every nth child element of a specified element.
9. :nth-last-child - Selects every nth child element of a specified element from the
10. :first-of-type - Selects the first element of a specified type.
11. :last-of-type - Selects the last element of a specified type.
12. :nth-of-type - Selects every nth element of a specified type.
13. :nth-last-of-type - Selects every nth element of a specified type from the

*/
#txt:focus{
    border: 5px solid blue;
}
#txt{
    color: red
}

/* First Child */
.div1 p:first-child{
    color: red;
}
ul li:first-child{
    color: red;
    display: inline-block;
    list-style: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 5px 10px;
}
/* Last Child */
.div1 p:last-child{
    color: blue;
}

/* nth child */
ul li:nth-child(9){
    color: green;
}

.div1 p:nth-child(3){
    color: green;
}
/* 
nth-last-child
*/
ul li:nth-last-child(2){
    color: white;
    background-color: red;
    border-radius: 18px;
    display: inline-block;
    padding: 5px 20px;
}

/* 
first-of-type
*/
.div1 p:first-of-type{
    color: rgb(107, 3, 253);
}

/* 
last-of-type
*/
.div1 p:last-of-type{
    color: rgb(3, 253, 3);
}

/* 
nth-of-type
*/

.div1 p:nth-of-type(3){
    color: rgb(253, 3, 3);
}
/* 
nth-last-of-type
*/
.div1 p:nth-last-of-type(2){
    color: rgb(95, 3, 253);
}